# ========== Файл с паролями ==========
.env
.sql

# ========== Виртуальное окружение ==========
venv/
env/
.venv/

# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ========== Редактор (VS Code / PyCharm) ==========
.idea/